In [2]:
# Import the required packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

url = "https://data.cityofnewyork.us/resource/h9gi-nx95.csv"
raw_data = pd.read_csv(url)

,crash_date,crash_time,borough,zip_code,latitude,longitude,location,on_street_name,off_street_name,cross_street_name,...,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collision_id,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,2016-04-02T00:00:00.000,22:23,BRONX,10456.0,NaN,NaN,NaN,WESTCHESTER AVENUE,UNION AVENUE,NaN,...,NaN,NaN,NaN,NaN,3411047,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
1,2020-01-06T00:00:00.000,12:50,NaN,NaN,NaN,NaN,NaN,PRINCE STREET,NaN,NaN,...,Failure to Yield Right-of-Way,NaN,NaN,NaN,4269674,Sedan,Tractor Truck Diesel,NaN,NaN,NaN
2,2020-01-06T00:00:00.000,13:16,MANHATTAN,10018.0,NaN,NaN,NaN,40 STREET,12 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4269909,Sedan,Bus,NaN,NaN,NaN
3,2020-01-06T00:00:00.000,16:00,NaN,NaN,40.73937,-73.79189,POINT (-73.79189 40.73937),LONG ISLAND EXPRESSWAY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4269644,Sedan,Sedan,NaN,NaN,NaN
4,2016-04-02T00:00:00.000,7:30,MANHATTAN,10007.0,NaN,NaN,NaN,DEY STREET,CHURCH STREET,NaN,...,Unspecified,NaN,NaN,NaN,3405353,PASSENGER VEHICLE,NaN,NaN,NaN,NaN

In [4]:
raw_data.head()

raw_data.shape

(1000, 29)